<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Job Entry</title>
</head>
<body>
<h3>{{message}}</h3>
<form id="jobentry" method="get",action="/makevideo">
<br/><br/>
Enter Customer Id: <input type="text" id="customerId" name="customerId" placeholder="Enter Customer Id">
<br/><br/>
Enter Job Descriptions: <input type="text" id="jobDesc" name="jobDesc" placeholder="Enter Job Description">
<br/><br/>
<input type="submit" name="jobSubmit" value="Enter the Job">
</form>
</body>
</html>